<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Images
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for file in files %}
                <a class="dropdown-item" href="{{ url('img_download', {'imgName' : file}) }}">{{ file }}</a> <a class="alert alert-danger" href="{{ url('image_delete', {'name' : file}) }}">X</a>
            {% endfor %}
        </div>
</li>
